.bg--FFF4F4 {
    background-color: #FFF4F4;
}

.bg--EEF5FA {
    background-color: #EEF5FA;
}

.bg--FCF4FF {
    background-color: #FCF4FF;
}

.bg--FFF1FB {
    background-color: #FFF1FB;
}

.bg--F2F4FF {
    background-color: #F2F4FF;
}

.bg--FCF9F2 {
    background-color: #FCF9F2;
}

.margin_bottom_10 {
    margin-bottom: 10px;
}
