.bg--FFF4F4 {
    background-color: #F7E1E3;
}

.bg--EEF5FA {
    background-color: #FAEAEB;
}

.bg--FCF4FF {
    background-color: #FAF0F0;
}

.bg--FFF1FB {
    background-color: #F5E4DC;
}

.bg--F2F4FF {
    background-color: #F5CAD9;
}

.bg--FCF9F2 {
    background-color: #F5E4DC;
}

.margin_bottom_10 {
    margin-bottom: 10px;
}
