.main__contact {
    margin-top: 30px;
    background-color: var(--bg-second);
    border-radius: 20px;
}

.main__contact__description {
    font-size: 26px;
}

.main__contact__description>span {
    font-weight: 600;
}

.main__contact__request {
    margin: 40px 0;

}

.main__contact__request__item {
    margin-bottom: 60px;
}

.main__contact__request__item:last-child {
    margin-bottom: 0px;
}

.contact__request__item__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 20px;
}

.contact__request__item__line {
    max-width: 610px;
    background-color: #B5B5B5;
    border-radius: 6px;
    border: 1px solid #B5B5B5;
}

.main__contact__button {
    padding: 12px 34px;
    width: fit-content;
    border: 2px solid #44566C;
    border-radius: 12px;
}

.main__contact__button:hover {
    background: var(--color-linear);
    color: white;
}

.main__header__content {
    max-width: 676px;
    margin-right: 54px;
    margin-bottom: 20px;
    line-height: 28px;
    color: var(--color-second);
}

.main__header__content--1 {
    display: flex;
    flex-direction: row;
}

.main__header__content:last-child {
    margin-bottom: 0px;
}

.main__introduce__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 30px;
}

.main__introduce__content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    box-sizing: border-box;

}

.main__introduce__content__item {
    display: flex;
    background-color: yellow;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    flex-direction: row;
    margin-bottom: 30px;
    margin-right: 10px;
}

.introduce__item__icon {
    margin-right: 20px;
    height: 40px;
}

.introduce__item__job {
    /* text-align: left; */
    display: flex;
    flex-direction: column;
}

.introduce__item__job__name {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}

.introduce__item__job__description {
    margin-top: 10px;
    line-height: 30px;
    color: var(--color-second)
}

.item__text--time {
    margin: 0px;
}

.item__text--general {
    font-size: 18px;
}

.item__text--general,
.item__text--specific {
    display: inline;
}

.item__text--time,
.item__text--specific {
    color: var(--color-second);
    font-size: 14px;
}

.main__list__content__item--skill {
    flex: 1;
    margin-top: 30px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.main__list__content__item--skill:first-child {
    margin-top: 0px;
}

.item__text {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    line-height: 24px;
}

.item__bar {
    width: 100%;
}

.knowledge__label {
    display: flex;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 5px 20px;
    gap: 10px;
    background: #EDF2F2;
    border-radius: 8px;
    width: fit-content;
}

.work__item {
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    transition: .25s;
}

.work__item:last-child {
    margin-bottom: 0px;
}

.work__item__1 > * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.work__item__1 {
    position: relative;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background: rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.work__item__1 .img1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0px;
    transition: 0.5s ease-in-out;
}

.work__item__1 .img1 img {
    border-radius: 16px;
    max-width: 100%;
    margin: 0;
    transition: 0.5s ease-in-out;
} 

.work__item__1:hover {
    height: 500px;
}

.work__item__1:hover .img1 img {
    margin: 0px;
}

.work__item__1 .img1 h2 {
    position: absolute;
    top: 95%;
    color: black;
    padding: 0;
    margin: 20px 0;
}

.work__item__1 .img1 h4 {
    position: absolute;
    top: 110%;
    color: black;
    padding: 0;
    margin: 20px 0;
}

.work__item__1:hover .img1 h4 {
    opacity: 0;
    visibility: hidden;
}

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    margin:0;
}

.content h4 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.content a {
    margin-top: 0px;
    display: inline-block;
    padding: 2px 30px;
    background: white;
    border-radius: 40px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.work__item__1:hover .content {
    opacity: 1;
    display:flex;
    visibility: visible;
    transform: translateY(50px);
    flex: 1;
    margin-bottom: 50px;
}

.work__item__1:hover .content a {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px 30px;
}

.organization__title {
    font-size: 26px;
    font-weight: 400;
    margin-left: 20px;
    text-align: center;
    margin:auto;
    justify-content: center;
}

.organization__item {
    margin-top: 20px;
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
}

.organization__item img {
    height: 85px;
    margin-right: 50px;
}

.organization__item img:last-child {
    margin-right: 0px;
}

.work__img {
    width: 100%;
    border-radius: 16px;
    margin: 0px;
}

.work__text {
    box-sizing: border-box;
    margin: 0px;
    font-size: 20px;
    padding: 15px 0 0 0;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.bg--FFF4F4 {
    background-color: #F1AF00;
}

.bg--EEF5FA {
    background-color: #F3C246;
}

.bg--FCF4FF {
    background-color: #F9CC76;
}

.bg--FFF1FB {
    background-color: #FCE0A6;
}

.bg--F2F4FF {
    background-color: #FEEBD0;
}

.bg--FCF9F2 {
    background-color: #FDE2CA;
}

.margin__bottom__10 {
    margin-bottom: 10px;
}