:root {
    --border-radius-default: 16px;
    --bg-first: white;
    --bg-second: #F3F6F6;
    --bg-hover: #E3E3E3;
    --bg-grey: #F8FBFB;

    --font-roboto: 'Roboto', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-ban-tay: UVNBanTay;
    --font-size-default: 16px;
    --color-first: #000000;
    --color-second: #44566C;
    --color-third: #EDF2F2;
    --color-linear: linear-gradient(90deg, #e9b442 0%,#eec142 50%, #f5cf46 100%);
}

.bg__img {
    background-image: url(../img/final.png);
}

.custom-container {
    opacity: 1.0;
    font-family: var(--font-poppins);
    color: var(--color-first);
    font-size: var(--font-size-default);
    font-weight: 400;
    width: 100%;
    max-width: 1320px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.wrapper {
    margin: 240px 0;
    position: relative;
    display: flex;
}

.custom-sidebar {
    position: relative;
    width: 400px;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
}

.custom-sidebar__avatar {
    position: absolute;
    width: 240px;
    height: 240px;
    left: 50%;
    top: -120px;
    transform: translateX(-50%);
    border-radius: 20px;
    filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.1));
}

.custom-sidebar__user {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    margin-top: 140px;
}

.custom-sidebar__user__name {
    text-align: center;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;

    color: var(--color-first)
}

.custom-sidebar__user__occupation {
    width: fit-content;
    padding: 5px 20px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: var(--bg-second);
}

.custom-sidebar__user__social {
    display: flex;
    margin-top: 20px;
    flex: 1;
}

.social__item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 8px;
    background-color: var(--bg-second);
}

.social__item:last-child {
    margin-right: 0px;
}

.social__item:hover {
    background-color: var(--bg-hover);
}

.social__icon {
    height: 20px;
}

.no-drop:hover {
    cursor: no-drop;
}

.custom-sidebar__user__cart {
    flex: 1;
    padding: 30px;
    margin: 30px 30px 0 30px;
    border-radius: 16px;
    background-color: var(--bg-second);
}

.cart__item {
    display: flex;
    align-items: center;
    width: 280px;
    border-bottom: 1px solid #E3E3E3;
    padding: 10px 0 9px 0;
}

.cart__item:first-child {
    padding-top: 0px;
}

.cart__item:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.cart__item__icon__img {
    height: 22px;
    width: auto;
}

.cart__item__icon {
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__item__title {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: 44px;
    text-align: left;
}

.cart__item__title--up {
    color: var(--color-second);
    font-size: 12px;
    line-height: 18px;
}

.cart__item__title--down {
    color: var(--color-first);
    position: relative;
    top: 2px;
    width: 226px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
}

.custom-sidebar__user__view {
    margin-top: 30px;
    color: var(--color-linear);
    border-radius: 10px;
    display: flex;
    padding: 14px 30px;
    background: var(--color-linear);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

.custom-sidebar__user__view:hover {
    cursor: pointer;
}

.view__icon {
    width: 22px;
    height: 22px;
    filter: brightness(0);
}

.view__title {
    color: var(--color-first);
    font-weight: 500;
    margin-left: 10px;
}

.custom-navbar {
    background-color: var(--bg-first);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 30px;
    border-radius: 16px;
}

.custom-navbar__item {
    width: 84px;
    height: 84px;
    background-color: var(--bg-second);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 12px;
}

.custom-navbar__item:last-child {
    margin-right: 0px;
}

.custom-navbar__item:hover {
    background: #E3E3E3;
}

.custom-navbar__item.active {
    background: var(--color-linear);
    color: var(--color-first);
}

.item__icon {
    width: auto;
    height: 25px;
    color: var(--color-second);
}

.item__title {
    margin-top: 7px;
    color: var(--color-second);
    font-family: var(--font-roboto);
    font-weight: 500;
}

.custom-navbar__item.active .item__icon,
.custom-navbar__item.active .item__title {
    filter: brightness(0);
    font-weight: 500;
}

.main {
    background-color: var(--bg-first);
    border-radius: 20px;
    margin: 184px 0 0 40px;
}

.card {
    padding: 60px;
}

.main__header__title {
    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.main__header__line {
    width: 200px;
    height: 5px;
    display: inline-block;
    background: var(--color-linear);
    border-radius: 5px;
    margin-left: 30px;
}

.main__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__list--left {
    margin-right: 30px;
    flex: 1;
}

.main__list--right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main__list__name {
    margin-bottom: 20px;
    display: flex;
}

.main__list__img {
    margin-right: 10px;
    height: 30px;
}

.main__list__title {
    font-size: 26px;
    line-height: 39px;
    font-weight: 500;
}

.main__list__content {
    display: flex;
    flex-direction: column;
}

.main__list__content__item {
    display: inline-flex;
    flex-direction: row;
    padding: 15px 10px 15px 20px;
    border-radius: 12px;
    flex: 1;
    margin-bottom: 20px;
}

.main__list__content__item:last-child {
    margin-bottom: 0px;
}

.main__list__content__img {
    margin-right: 10px;
    height: 30px;
}

.main__list__content__item__text {
    display: inline-flex;
    flex-direction: column;
    padding: 15px 10px 15px 20px;
    border-radius: 12px;
    flex: 1;
    margin-bottom: 20px;
}

.main__list__content__item_text:last-child {
    margin-bottom: 0px;
}

.main__footer {
    display: flex;
    flex: 0;
    color: var(--color-second);
    justify-content: center;
    margin: 20px 0;
}

.bg-grey {
    background-color: var(--bg-grey);
}

.main__footer-bg-grey {
    display: flex;
    flex: 0;
    color: var(--color-second);
    justify-content: center;
    padding: 20px 0;
    background-color: var(--bg-grey);
    border-radius: 0px 0px 20px 20px;
}